{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- index.html content starts here -->

<div class="container-fluid">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/logo.png' %}"
                                    alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}"
                                    alt="{{ post.title }}">
                                {% endif %}
                                <p class="card-text text-muted h6">{{ post.created_on}}
                                </p>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{post.excerpt}}</p>
                            </a>

                            <hr />
                           
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
            {% endif %}

            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>


<!-- Display the latest 3 testimonials -->
{% if testimonials|length > 0 %}
<div class="d-flex align-items-center justify-content-between">
    <!-- Text Centered -->
    <h3 class="mx-auto"><u><strong>Testimonials</strong></u></h3>
    
    <!-- Add Testimonial Button -->
    <button type="button" class="btn btn-primary ms-auto" data-bs-toggle="modal" data-bs-target="#addTestimonialModal">
        Add Testimonial
    </button>
</div>

<!-- Add Testimonial Modal -->
<div class="modal fade" id="addTestimonialModal" aria-labelledby="addTestimonialModalLabel" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTestimonialModalLabel">Add a Testimonial</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body">
                    {% if user.is_authenticated %}
                    <p>Posting as: {{ user.username }}</p>
                    <form id="testimonial_form" method="post" action="{% url 'add_testimonial' %}"
                      style="margin-top: 1.3em;">
                      {{ testimonial_form | crispy }}
                      {% csrf_token %}
                      <button id="submitButton" type="submit"
                        class="btn btn-signup btn-lg">Submit</button>
                    </form>
                    {% else %}
                    <p>Log in to write a testimonial</p>
                    {% endif %}
                </div>
            
        </div>
    </div>
</div>


    <!-- View Testimonials -->
    <div class="row">
        {% for testimonial in testimonials|slice:":3" %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="testimonial-item d-flex align-items-start border rounded p-3">
                <!-- Label Section -->
               
                <!-- Content Section -->
                <div class="content">
                    <p class="mb-1"><b>User: </b><strong>{{ testimonial.author.username }}</strong></p>
                    {% if testimonial.job_title %}
                    <p class="mb-1 text-muted"><b>Job Title: </b>{{ testimonial.job_title }}</p>
                    {% endif %}
                    <p><b>Testimonial: </b>"{{ testimonial.text }}"</p>
                </div>
                <!-- Edit Delete buttons -->
                {% if not testimonial.approved and testimonial.author == user %}
                <p class="approval">
                    This testimonial is awaiting approval
                </p>
                {% endif %}
                {% if user.is_authenticated and testimonial.author == user %}
                <button class="btn btn-testimonial-delete"
                testimonial_id="{{ testimonial.id }}">Delete</button>
                <button class="btn btn-testimonial-edit"
                testimonial_id="{{ testimonial.id }}">Edit</button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete testimonial?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your testimonial?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>


<!-- Testimonials Accordion -->
{% if testimonials|length > 3 %}
<div class="accordion mt-4" id="testimonialAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Testimonials - see more
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#testimonialAccordion">
            <div class="accordion-body">
                <div class="row">
                    {% for testimonial in testimonials|slice:"3:" %}
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="testimonial-item d-flex align-items-start border rounded p-3">
                            <!-- Content Section -->
                            <div class="content">
                                <p class="mb-1"><b>User: </b><strong>{{ testimonial.author.username }}</strong></p>
                                {% if testimonial.job_title %}
                                <p class="mb-1 text-muted"><b>Job Title: </b>{{ testimonial.job_title }}</p>
                                {% endif %}
                                <p><b>Testimonial: </b>"{{ testimonial.text }}"</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}


    

<!-- index.html content ends here -->
{% endblock content %}

{% block extras %}
<script src="{% static 'js/testimonial.js' %}"></script>
{% endblock %}