.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}
.hero-image {
    width: 100%; 
    height: 50%;
}
.nav-bg {
    background-color: #004f6e;
}
.brand-text{
    color: silver;
    font-size: 20px;
}
.link,
.nav-link{
    color: #FF914D !important; 
    transition: color 0.3s ease;
    font-size: 20px;
}
.nav-link:hover {
    color: pink !important; 
}
.active {
    color: #3DA6FF !important; 
    text-decoration: underline; 
    font-weight: bold; 
}

.dark-bg {
    background-color: #004f6e;
}
.foot-text{
    color: silver;
    font-size: 25px;
}
.foot-links{
    color: goldenrod !important;
    font-size: 30px;
    margin-bottom: 6px;
}
footer p{
    margin: 0;
}
.main-bg {
    background-color: #3e657c;
}
.logout{
    padding-top: 20px;
    padding-bottom: 70px;
}
.signup {
    padding-bottom: 70px;
}
.login {
    padding-bottom: 70px;   
}
.py-3{
    padding-bottom: 0;
}
.card {
    border: none;
    background-color: transparent;
    width: 80%;
    height: 80%;
    color: #d2d2d2;
}
.card-img-top {
    border-radius: 40px;
}

.testimonial-bg {
    background-color: #004f6e;
    padding-bottom: 0;
    color: #90cae2;
}
.testimonial-Accordion {
    background-color: #004f6e;
    color: #90cae2;
}
.testimonial-item {
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    text-align: center;
    font-size: 20px;
}
.test-username{
    text-decoration: underline;
    font-size: 30px;
}
.testimonial-date {
    font-size: 15px;
}
.approval {
    font-weight: light;
    color: #dc3545; 
    font-size: 15px;
}

.post-link {
    text-decoration: underline;
    color: black;
    left: 50px;
}
.post-link:hover,
.page-link {
    color: #E84610;
 } 
.post-title {
    margin-top: 10%;
    margin-left: 5%;
}
.post-subtitle {
    margin-left: 5%;
    color: lightgray;
} 

.link {
    color: #23BBBB;
    text-decoration: none;
}
.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}
/* Buttons */
.accordion-button {
    background-color: #e9761b;  
    color: white; 
    border-color: #e9761b; 
}
.accordion-button:not(.collapsed) {
    background-color: #e9761b;  
    color: white; 
    border-color: #e9761b; 
}
.accordion-button:hover {
    background-color: #ffcc33;  
    color: white; 
}
.btn-signup,
.btn-edit, 
.btn-comment-edit, 
.btn-testimonial-edit {
    color: #fff;
    background: #E84610;
    margin-left: 20px;
}
.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #E84610;
}
.btn-delete, 
.btn-comment-delete, 
.btn-testimonial-delete {
    color: #fff;
    background: #E84610;
}
.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}
.scale {
    width: 100%;
    height: auto;
}
.masthead {
    position: relative;
    margin-bottom: 2rem;
    justify-self: center;
}
.masthead-text {
    z-index: 2;
    justify-self: center;
    color: #D5D5D5;
}
.masthead-image img {
    max-height: 50vh;
    width: auto;
    justify-self: center;
}
.masthead .row {
    align-items: center;
}
.article-colour {
    color: #d2d2d2;
}
.comment-colour {
    color: #d2d2d2;
}